
<div class="flex justify-center items-center h-screen" >
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Confirmation </h5>
          </div>
          <div class="card-body">
            <p class="card-text">Êtes-vous sûr de vouloir désaffecter ce foyer ?</p>
            <button (click)="desaffecterFoyer()" class="btn btn-danger">Confirmer la désaffectation</button>
          </div>
        </div>
      </div>
    </div>
  </div>