<div class="flex flex-wrap -mx-3 mb-5">
    <div class="w-full max-w-full px-3 mb-6  mx-auto">
      <div class="relative flex-[1_auto] flex flex-col break-words min-w-0 bg-clip-border rounded-[.95rem] bg-white m-5">
        <div class="relative flex flex-col min-w-0 break-words border border-dashed bg-clip-border rounded-2xl border-stone-200 bg-light/30">
          <!-- card header -->
          <div class="px-9 pt-5 flex justify-between items-stretch flex-wrap min-h-[70px] pb-0 bg-transparent">
            <h3 class="flex flex-col items-start justify-center m-2 ml-0 font-medium text-xl/tight text-dark">
              <span class="mr-3 font-semibold text-dark">Liste des universités</span>
            </h3>
            <div class="relative flex flex-wrap items-center my-2">
              <a [routerLink]="['add']" class="inline-block text-[.925rem] font-medium leading-normal text-center align-middle cursor-pointer rounded-2xl transition-colors duration-150 ease-in-out text-light-inverse bg-light-dark border-light shadow-none border-0 py-2 px-5 hover:bg-secondary active:bg-light focus:bg-light"> Ajouter une université  </a>
            </div>
          </div>
          <!-- end card header -->
          <!-- card body  -->
          <div class="flex-auto block py-8 pt-6 px-9">
            <div class="overflow-x-auto">
              <table class="w-full my-0 align-middle text-dark border-neutral-200">
                <thead>
                    <tr class="bg-gray-100">
                        <th class="w-1/6 py-4 px-6 text-left text-gray-600 font-bold uppercase">Id</th>
                        <th class="w-1/6 py-4 px-6 text-left text-gray-600 font-bold uppercase">NOM</th>
                        <th class="w-1/6 py-4 px-6 text-left text-gray-600 font-bold uppercase">Adresse</th>
                        <th class="w-1/6 py-4 px-6 text-left text-gray-600 font-bold uppercase">Id_Foyer</th>
                        <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">actions</th>
                        <th class="w-1/6 py-4 px-6 text-left text-gray-600 font-bold uppercase">désaffecter</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <tr  *ngFor="let univ of universities">
                        <td class="py-4 px-6 border-b border-gray-200">{{univ.idUniversite}}</td>
                        <td class="py-4 px-6 border-b border-gray-200 truncate">{{univ.nomUniversite}}</td>
                        <td class="py-4 px-6 border-b border-gray-200">{{ univ.adresse}}</td>
                        <td class="py-4 px-6 border-b border-gray-200">{{univ.foyers?.idFoyer}}</td>
                        <td class="py-4 px-6 border-b border-gray-200">
                            <button [routerLink]="['edit',univ.idUniversite]"  class="bg-green-500 text-white py-1 px-2 rounded-full text-xs ">update</button>
                            <button [routerLink]="['delete',univ.idUniversite]"  class="bg-red-500 text-white py-1 px-2 rounded-full text-xs ml-1">delete</button>
          
                        </td>
                        <td class="py-4 px-6 border-b border-gray-200">
                          <button [routerLink]="['desafficter',univ.idUniversite]" class="bg-blue-500 text-white py-1 px-2 rounded-full text-xs ml-1">desaffecter</button>
        
                      </td>
                    </tr>
          
          
                    <!-- Add more rows here -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-5">
    <div class="w-full max-w-full sm:w-3/4 mx-auto text-center">
      <p class="text-sm text-slate-500 py-1"> Tailwind CSS Component from <a href="https://www.loopple.com/theme/riva-dashboard-tailwind?ref=tailwindcomponents" class="text-slate-700 hover:text-slate-900" target="_blank">Riva Dashboard</a> by <a href="https://www.loopple.com" class="text-slate-700 hover:text-slate-900" target="_blank">Loopple Builder</a>. </p>
    </div>
  </div>
  