<br><br><br><br><br>


<div style=" display: flex; justify-content: center; align-items: center;">
    <div style="text-align: center; margin-right: 20px;">
        <img src="/assets/img/Ons.png" style="width: 200px; height: auto;">
        <br>
        <p style="font-size: 20px; color: #333; font-weight: bold;">Ons Khiari</p>
    </div>

    <div style="text-align: center; margin-right: 20px;">
        <img src="/assets/img/Nour.png" style="width: 200px; height: auto;">
        <br>
        <p style="font-size: 20px; color: #333; font-weight: bold;">Nour Ben Aissa</p>
    </div>

    <div style="text-align: center;">
        <img src="/assets/img/Shayma.png" style="width: 200px; height: auto;">
        <br>
        <p style="font-size: 20px; color: #333; font-weight: bold;">Shayma Ettayeb</p>
    </div>
</div>

<br>

<div style="text-align: center; margin-right: 20px;">
    <img src="/assets/img/Montassar.png" style="width: 200px; height: auto; margin-left: 830px; margin-top: 20px;">
    <br>
    <p style="font-size: 20px; color: #333; font-weight: bold;">Montassar Mchabet</p>
</div>


<br><br>