<!-- SuppressionUniversiteComponent.html -->

<div class="flex justify-center items-center h-screen" style="width: 1200px;">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Confirmation de suppression</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Êtes-vous sûr de vouloir supprimer cette foyer ?</p>
            <button (click)="deleteFoyer()" class="btn btn-danger">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  