<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="/assets/assetsBack/css/styles.css" rel="stylesheet" />
    </head>
    <body class="sb-nav-fixed">
        <app-nav></app-nav>
        <div id="layoutSidenav">
            <app-sidebar></app-sidebar>
            <div id="layoutSidenav_content">
                <!--hneeeee main-->
                <router-outlet></router-outlet>
            </div>
        </div>
    </body>

</html>
