<div class="px-4 pt-4 py-5" style="margin-top: 50px; margin-left: 30px; ">
<div class="shadow-lg rounded-lg overflow-hidden mx-4 md:mx-10">
  <table class="w-full">
      <thead>
          <tr class="bg-gray-100">
              <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Name</th>
              <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Email</th>
              <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Phone</th>
              <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Action</th>
          </tr>
      </thead>
      <tbody class="bg-white">
          <tr>
              <td class="py-4 px-6 border-b border-gray-200">John Doe</td>
              <td class="py-4 px-6 border-b border-gray-200 truncate">johndoe@gmail.com</td>
              <td class="py-4 px-6 border-b border-gray-200">555-555-5555</td>
              <td class="py-4 px-6 border-b border-gray-200">
                  <button routerLink="/back/bloc/editbloc" class="bg-green-500 text-white py-1 px-2 rounded-full text-xs ">update</button>
                  <button class="bg-red-500 text-white py-1 px-2 rounded-full text-xs ml-1">delete</button>

              </td>
          </tr>


          <!-- Add more rows here -->
      </tbody>
  </table>
</div>
</div>
