<!--
<div class="top-header-area " id="sticker">

	<div class="row">
		<div class="col-lg-12 col-sm-12 text-center">
			<div class="main-menu-wrap">
				<div style="margin-left: 300px ;" class="site-logo">
					<a href="#">
						<img src="/assets/img/logo2.png" alt="">
					</a>
				</div>

				<nav style="margin-left: 810px; position: absolute;" class="main-menu ">
					<ul>
						<li class="current-list-item"><a style="color: white; font-family: Poppins ;"
								routerLink="home">Home</a></li>
						<li><a style="color: white;font-family: Poppins ;"
								routerLink="universities/university">Universities</a></li>
						<li><a style="color: white;font-family: Poppins ;" routerLink="reservation">My Reservations</a>
						</li>
						<li>
							<div style="margin-left: 300px;" class="header-icons">
								<ng-container *ngIf="isLoggedIn(); else showButtons">
									<a class="shopping-cart" routerLink="/profile" style="color: white;">
										{{ user.nom }} {{ user.prenom }}
										<i class="fas fa-user" style="color: white;"></i>
									</a>
									<button (click)="logout()">
										<i style="color: white;" class="fas fa-sign-out-alt"></i>
									</button>
								</ng-container> 
								<ng-template #showButtons>
									<a class="shopping-cart" routerLink="/user/login"><i class="fas fa-sign-in-alt"
											style="color: white;"></i></a>
									<a class="shopping-cart" routerLink="/user/signup"><i class="fas fa-user-plus"
											style="color: white;"></i></a>
								</ng-template>
							</div>
						</li>
					</ul>
				</nav>
				<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
				<div class="mobile-menu"></div>
			</div>
		</div>
	</div>
</div>-->

<header>
	<div class="inner">
		<div class="burger"></div>
		<nav>
			<a routerLink="/front/home">Home</a>
			<a >About Us</a>
			<a routerLink="universities">Universities</a>
			<a routerLink="reservations/reservationlist">My Reservations</a>
			<a></a>
			<ng-container *ngIf="isLoggedIn(); else showButtons">
				<a routerLink="/front/account" style="width: 100px;">{{ user.nom }} {{ user.prenom }}</a>
				<a>logout
					<button (click)="logout()">
						<i style="color: #8c8c8e;" class="fas fa-sign-out-alt"></i>
					</button>
				</a>
			</ng-container>
			<ng-template #showButtons>
				<a class="shopping-cart" routerLink="/user/login">login<i class="fas fa-sign-in-alt"
						style="color: #8c8c8e;"></i></a>
				<a class="shopping-cart" routerLink="/user/signup">signup<i class="fas fa-user-plus"
						style="color: #8c8c8e;"></i></a>
			</ng-template>
		</nav>
	</div>
</header>

<script src="script.js"></script>